@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat&family=Titillium+Web&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: #262626; */
    background-color: #d3d3d3;
    /* color: #d3d3d3; */
    color: #262626;
    text-align: center;
    margin: 0;
    padding: 0;

    /* FIREFOX SCROLLBAR */
    scrollbar-color: #4c4c4c transparent;
    scrollbar-width: thin;

}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 2px solid #d3d3d3;
    background-color: #4c4c4c;
    background-clip: border-box;
}

#navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: inherit;
    text-transform: uppercase;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: #4c4c4c50;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a {
    color: inherit;
}

.contact-links a {
    display: block;
    margin-top: 5vh;
    width: 100%;
    text-align: center;
    font-size: 25px;
}

#contact a:hover {
    color: white;
    background-color: transparent;
}

.navlink,
.navlink-contact {
    float: right;
    line-height: 50px;
    font-size: 20px;
    color: #262626;
    padding-right: 2%;
    padding-left: 2%;
}

.nav-button,
.nav-button-contact {
    line-height: 50px;
    font-size: 30px;
    color: #262626;
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 3px;
}

#welcome-section {
    position: fixed;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#welcome-section p {
    padding: 0px 25%;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
}

#welcome-section h4 {
    padding: 0px 35vw;
    font-size: 25px;
}

#welcome-section i {
    padding: 3vw;
    font-size: 6vw;
}

#about, #skills {
    padding-top: 50px;
}

#about p {
    padding: 0px 20vw;
    font-size: 20px;
    text-align: justify;
}    

#about h3 {
    padding: 0px 20vw;
    text-align: left;
}

.text2 img {
    width: 60%;
    padding-bottom: 25px;
}

#projects {
    padding-top: 50px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;    
}

p {
    padding: 0px 20vw;
    font-size: 20px;
}

#projects {
    width: 100%;
    text-align: center;
}

/* "Automagic" image grid using no media queries */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
    grid-row-gap: 10px;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.project-image {
    height: 30vh;
    width: 100%;
    object-fit: contain;
    object-position: 50% 50%;
}

.project-title {
    font-size: 20px;
    padding: 0 0;
}

/* OVERLAY CONTACT LINKS */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 22;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.overlay-contact-links {
    position: relative;
    top: 20vh;
    width: 100vw;
    text-align: center;
}

.overlay a {
    padding: 3vh;
    text-decoration: none;
    font-size: 4vh;
    color: #D3D3D3;
    display: block;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.overlay .closebtn {
    position: absolute;
    line-height: 0px;
    font-size: 100px;
    right: 100px;
    top: 50px;
    padding: 50px;
}

/* OVERLAY CONTACT LINKS */


/* SKILLS AND TOOLS GRID */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 5px;
    grid-row-gap: 50px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.skills-grid-wrapper {
    border-bottom: rgba(38, 38, 38, 0.1) 2px solid;
}

.skills-heading {
    text-align: left;
    padding: 0 10%;
    font-size: 20px;
}

.skills-image {
    height: 50px;
    width: 80%;
    object-fit: contain;
    object-position: center center;
}

.skills-title {
    font-size: 15px;
    padding: 0 0;
    display: none;
}

@media (min-width: 800px) {
    .nav-bar-icons {
        display: none;
    }
    #welcome-section::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 90%;
        height: 90%;
        opacity: 0.5;
        background-image: url("/images/Profile/Profile picture blue 1.png");
        -webkit-backgorund-size: cover;
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size:contain;
    }
}

@media (max-width: 800px) {
    .nav-bar-text, .logos {
        display: none;
    }
    p {
        padding: 0px 3vw;
        text-align: left;
        font-size: 15px;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 20px;    
    }
    .contact-links a {
        display: block;
        margin-top: 5vh;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
    .project-title {
        font-size: 10px;
        padding: 0 0;
        text-align: center;
    }
    #contact h1{
        margin-top: 10px;
    }
    #welcome-section {
        height: 95vh;
    }
    #welcome-section h1 {
        font-size: 30px;
        margin-bottom: 1vh;
    }
    #welcome-section h2 {
        margin-top: 0px;
        font-size: 20px;
    }
    #welcome-section h1, #welcome-section h2 {
        text-align: left;
        padding-left: 15px;
    }
    #welcome-section p {
        padding: 0px 15px;
        font-size: 14px;
        text-align: justify;
        line-height: normal;
    }
    #welcome-section h4 {
        /* margin-bottom: 20vh; */
        margin-left: 150px;
        padding: 0px 20px;
        font-size: 15px;
    }
    #welcome-section::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 75%;
        height: 75%;
        opacity: 0.5;
        background-image: url("/images/Profile/Profile picture blue 0.png");
        -webkit-backgorund-size: cover;
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size:contain;
    }
    #about p {
        padding: 0px 5vw;
        font-size: 14px;
        line-height: 20px;
    }
    #about h3 {
        padding: 0px 5vw;
        text-align: left;
    }
    .text2 img {
        width: 90%;
    }
    .skills-grid {
        display: grid;
        grid-template-columns: repeat(100px, 1fr);
        grid-gap: 5px;
        grid-row-gap: 5px;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    .skills-heading {
        text-align: left;
        padding: 0 10%;
        font-size: 15px;
    }
    .skills-title, .project-title {
        font-size: 14px;
        padding: 0 0;
        text-align: center;
        /* display: none; */
    }
    .overlay .closebtn {
        position: absolute;
        right: 0px;
        top: 0px;
        padding: 20px;
    }
    .project-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
        grid-row-gap: 5px;
        width: 70%;
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 100px;
    }
}

@media (max-height: 400px) {
    #welcome-section::before{
        background-image: none;
    }
    #welcome-section h1 {
        font-size: 20px;
        padding-top: 30px;
        margin-bottom: 0;
    }
    #welcome-section h2 {
        font-size: 15px;
    }
    #welcome-section h4 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 15px;
    }
    #navbar {
        height: 30px;
        z-index: 11;
        background-color: inherit;
        text-transform: uppercase;
    }
    .nav-button,
    .nav-button-contact {
    color: #262626;
    cursor: pointer;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 3px;
    font-size: 20px;
    line-height: 30px;
    }
    #welcome-section h4 {
        margin-left: 0;
    }
}

@media (max-height: 570px) {
    #welcome-section {
        height: 100vh;
    }
    #welcome-section::before{
        background-image: none;
    }
    #welcome-section h4 {
        margin-left: 0;
    }
}

.content-area {
    position: relative;
    top: 100vh;
    background-color: #d3d3d3;
}

html {
    scroll-behavior: smooth;
}